#### Introduction to Python

In [4]:
print('Hello world')

Hello world

In [5]:
x = 5
print(x)

5

In [6]:
x = "this is a string"
print(x)

this is a string

In [7]:
x = [0,1,2,3]
print(x)

[0, 1, 2, 3]

In [8]:
x,y = 10,20
print(x,y)

10 20

In [10]:
d=5**2
print(d)
e = 5%2
print(e)

25
1

In [11]:
x = 'I love programming in '+'python'
print(x)

I love programming in python

In [12]:
x = "I love programming in "+'python'
print(x)

I love programming in python

In [13]:
y = "Isn't this fun?"
print(y)

Isn't this fun?

In [14]:
intList = [0,1,2,3]
print(intList)

[0, 1, 2, 3]

In [15]:
l = [0,"test",2.5]
print(l)

[0, 'test', 2.5]

In [16]:
print(intList[0])

0

In [17]:
print(intList[1:3])

[1, 2]

In [18]:
print(intList[:3])

[0, 1, 2]

In [20]:
print(intList[-1])

3

In [22]:
for x in intList :
    x = x+5
    print(x)

5
6
7
8

In [23]:
y = 3 in [0,1,2,3]
print(y)

True

In [25]:
z = [0,1,2]+[3,4,5]
print(z)

[0, 1, 2, 3, 4, 5]

In [26]:
print(z)

[0, 1, 2, 3, 4, 5]

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
x = [0,1,2,3,4]
y = x
z = x[0:]
x[0] = 100
print(y)

[100, 1, 2, 3, 4]

In [32]:
print(z)

[0, 1, 2, 3, 4]

In [33]:
# more pythonic 
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [41]:
myphonebook = dict ({"John" : 938477566 ,"Jack" : 938377264, "Jill" : 947662781}) #less pythonic
print(myphonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [42]:
for name in myphonebook.keys():
    print(name,myphonebook.get(name))

John 938477566
Jack 938377264
Jill 947662781

In [43]:
myphonebook["John"] = 111111

In [44]:
for name in myphonebook.keys():
    print(name,myphonebook.get(name))

John 111111
Jack 938377264
Jill 947662781

In [45]:
x = "John" in myphonebook
print(x)

True

In [ ]:
s